# Ignore everything.
*
# Not ignore subdir.
!*/

Project*/

# Specific (**-recursive).
!src/mlshell/**

src/mlshell/.temp

!docs/source/**
!docs/make.bat
!docs/Makefile
docs/source/_pythonapi/

!tests/**

!docker/**

!examples/**
examples/regression/data
examples/classification/data

# except this file
!.gitignore
!README.md
!LICENSE
!Dockerfile
!Dockerfile.dev
!requirements.txt
!requirements_dev.txt
!Pipfile
!Pipfile.lock
!setup.py
!setup.cfg
!MANIFEST.in
!project.toml
!.travis.yml
!Makefile
!.readthedocs.yml
!CODE_OF_CONDUCT.md
!CONTRIBUTING.md

# ignore pattern everywhere
*$py.class
*.hprof
*.pyc
*.pyo
*.rbc
*.yarb
*~
.DS_Store
.git
.hg
.svn
.coverage
.pytest_cache
.notes
CVS/
__pycache__/
_svn/
results/
vssver.scc
vssver2.scc
deprecated.py
notes.md

# Ignore all dir start with "." (should be the last)
.*/