# Ignore everything except directories
*
!*/

# except everything in the child theme and its required plugin
#!/themes/mytheme-child/**
#!/plugins/my-plugin/**
# except del2 in del dir
# !del/del2.txt

# and this file
!.gitignore
!del.py
!LICENSE
!Dockerfile