[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
sphinxcontrib-napoleon = "*"
sphinx-autodoc-typehints = "*"
sphinx-rtd-theme = "*"
numpydoc = "*"
line-profiler = "*"
memory-profiler = "*"
Sphinx = "*"
lightgbm = "*"

[packages]
pycnfg = "*"
jsbeautifier = "*"
scikit-learn = "*"
pandas = "*"
tabulate = "*"
matplotlib = "*"

[requires]
python_version = "3.7"
