[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
mlshell = {editable = true,extras = ["dev"],path = "."}
sklearn = "*"
dill = "*"

[requires]
python_version = "3.7"
